*{
  margin: 0; padding: 0;
}
body{
  overflow: hidden;
}
form {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow:  0 4px 4px black;
}
input{
  padding: 10px 20px;
}
svg{
  display: block;
  width: 100vw;
  height: calc(100vh - 60px);
  filter: drop-shadow(0 2px 4px black);
}
svg circle{
  cursor: pointer;

}

.settings{
  position: absolute;
  left: 20px;
  top: 15px;
}
.settings svg{
  display: block;
  width: 30px;
  height: 30px;
  
}
.settings ul {
  list-style: none;
  position: absolute;
  top: 45px;
  left: -20px;
  padding: 20px;
  background-color: #ffffff;
  z-index: 100;border-radius: 0 0 15px 0;
  box-shadow: 0 4px 4px black;
  transition: all 0.3s ease-in-out;
}
.settings ul label{
  display: flex;
  gap: 10px;
  
  text-wrap: nowrap;
}

.nonopen{
  transform: translateX(-110%);
}


.infogarf{
  pointer-events: none;
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  text-wrap: nowrap;
  border: 1px solid;
  border-radius: 5px;
  animation: flash 1s ease-in-out;
}
@keyframes flash {
  0% {
    transform: translateX(200%);
  }
}